[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BWStest"]
	path = BWStest
	url = https://github.com/shabbychef/bwstest
	shallow = true
	registered = true
[submodule "cocktailApp"]
	path = cocktailApp
	url = https://github.com/shabbychef/cocktailapp
	shallow = true
	registered = true
[submodule "epsiwal"]
	path = epsiwal
	url = https://github.com/shabbychef/epsiwal
	shallow = true
	registered = true
[submodule "fromo"]
	path = fromo
	url = https://github.com/shabbychef/fromo
	shallow = true
	registered = true
[submodule "ggallin"]
	path = ggallin
	url = https://github.com/shabbychef/ggallin
	shallow = true
	registered = true
[submodule "madness"]
	path = madness
	url = https://github.com/shabbychef/madness
	shallow = true
	registered = true
[submodule "MarkowitzR"]
	path = MarkowitzR
	url = https://github.com/shabbychef/markowitzr
	shallow = true
	registered = true
[submodule "mazealls"]
	path = mazealls
	url = https://github.com/shabbychef/mazealls
	shallow = true
	registered = true
[submodule "ohenery"]
	path = ohenery
	url = https://github.com/shabbychef/ohenery
	shallow = true
	registered = true
[submodule "PDQutils"]
	path = PDQutils
	url = https://github.com/shabbychef/pdqutils
	shallow = true
	registered = true
[submodule "sadists"]
	path = sadists
	url = https://github.com/shabbychef/sadists
	shallow = true
	registered = true
[submodule "SharpeR"]
	path = SharpeR
	url = https://github.com/shabbychef/sharper
	shallow = true
	registered = true
[submodule "SPYvsSPY"]
	path = SPYvsSPY
	url = https://github.com/shabbychef/spyvsspy
	shallow = true
	registered = true
